@{
    ViewBag.Title = "EditInfoAvatar";
}


@using (Html.BeginForm("EditInfoAvatar", "Files", FormMethod.Post, new { enctype = "multipart/form-data", id = "ajaxform" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Аватар</legend>

    <input type="file" name="File" />
    <p>
         <input type="submit" value="Сохранить" class="btn btn-default"/>
         @Html.ActionLink("Вернуться", "AboutMe", "Account", null, new { @class = "btn btn-default" })
    </p>
        </fieldset>
}

@System.Web.Optimization.Scripts.Render("~/bundles/my2")

@System.Web.Optimization.Scripts.Render("~/bundles/my")