@{
    ViewBag.Title = "Index";
}

<div class="title">
    <ul>
        <li><a href="@Url.Action("MyPosts", "Post")" >Мои посты</a></li>
        <li><a href="@Url.Action("Favorite", "Post")" >Избранное</a></li>
        <li><a href="@Url.Action("News", "Post")" >Лента</a></li>
    </ul>
</div>
@System.Web.Optimization.Scripts.Render("~/bundles/my")
@System.Web.Optimization.Scripts.Render("~/bundles/my2")