@model IEnumerable<EPAM.MyBlog.UI.Web.Models.PresentPostModel>


@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12 title">
    
    <div class="col-sm-6 col-md-6 col-lg-6 col-sx-6 col-sm-offset-4 col-md-offset-4 col-sx-offset-4 col-lg-offset-4">
        <p>Мои записи</p>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-sx-2 ">
        @Ajax.ActionLink("Создать запись" , "NewPost" ,"Post", new { }, new AjaxOptions{ UpdateTargetId = "content" }, new { @class="btn btn-default"})
    </div>
</div>

@{int c = 0;}

    @foreach (var item in Model) 
{
    c++;
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            @Ajax.ActionLink(@item.Title,"Posts", new { id=item.Id }, new AjaxOptions{ UpdateTargetId = "content" })
        </div>
         <div class="col-sm-4 col-md-4 col-lg-4 col-sx-4">
            @Ajax.ActionLink("Редактировать","Edit", new { id = item.Id }, new AjaxOptions{ UpdateTargetId = "content" },new { @class="btn btn-default"})
            @Ajax.ActionLink("Удалить","Delete", new { id=item.Id }, new AjaxOptions{ UpdateTargetId = "content" }, new { @class="btn btn-default"})
        </div>
    </div>

    }

@if(c==0)
{
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            <p>  Вы не добавили ни ондой статьи </p>
        </div>
        </div>
}

@System.Web.Optimization.Scripts.Render("~/bundles/my")