@model EPAM.MyBlog.UI.Web.Models.PostModel

@{
    ViewBag.Title = "Posts";
}

<legend>@Html.DisplayFor(model => model.Title)</legend>

    <div>
        @Html.DisplayFor(model => model.Text)
    </div>
<div>
Автор: @Html.DisplayFor(model => model.Author)
</div>
<div>
Дата: @Html.DisplayFor(model => model.Time)
</div>

<p>
</p>
    @Html.Action("AddComment", "Comment", new { Post_Id = Model.Id });
    @Html.ActionLink("К списку", "Index", "Post");
