@model EPAM.MyBlog.UI.Web.Models.PostModel

@{
    ViewBag.Title = "Posts";
}
@using (Html.BeginForm("Posts", "Post", FormMethod.Post))
{
    <div class ="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-sx-12 title">@Html.DisplayFor(model => model.Title)</div>
    </div>
    <div class ="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-sx-12 post">
            @Html.DisplayFor(model => model.Text)
        </div>
    </div>
    <div>
        <p><strong>Теги: </strong>@Html.DisplayFor(model => model.Tags)</p>
    </div>
    <div>
        <p><strong>Автор:</strong> @Ajax.ActionLink(Model.Author,"UserInfo", "Account", new {name = Model.Author }, new AjaxOptions{ UpdateTargetId = "content" }) </p>
    </div>
    <div>
        <p><strong>Дата:</strong> @Html.DisplayFor(model => model.Time)</p>
    </div>
    if(User.Identity.IsAuthenticated){
    
        if((string)ViewData["Check"] == "True")
        {
            <button type="submit" name="action" value="AddFav" hidden="hidden">В избранное</button>
            <p>Данная статья находится в @Ajax.ActionLink(" избранном","Favorite", "Post", new { }, new AjaxOptions{ UpdateTargetId = "content" }) </p>
        }
        else{
            <button type="submit" name="action" value="AddFav">В избранное</button>
        }
    }
}
<div id="comment">
    @Html.Action("AddComment", "Comment", new { Post_Id = Model.Id })
</div>
@if(Model.Author == User.Identity.Name){
    @Ajax.ActionLink("К списку","MyPosts", "Post", new { }, new AjaxOptions{ UpdateTargetId = "content" })
}
else{
    if(User.Identity.IsAuthenticated){
        @Ajax.ActionLink("К списку","UserPosts", "Post", new { name=Model.Author }, new AjaxOptions{ UpdateTargetId = "content" })
    }
}

@System.Web.Optimization.Scripts.Render("~/bundles/my")