@model IEnumerable<EPAM.MyBlog.UI.Web.Models.PresentPostModel>

@{ int c = 0;}

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-sx-12 title">Записи @ViewData["name"]</div>
</div>



@foreach (var item in Model) 
{   c++;
    
    <div class="row list">
        <div class="col-sm-10 col-md-10 col-lg-10 col-sx-10">
             @Html.ActionLink(@item.Title, "Posts", new { id=item.Id }) 
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 col-sx-2">
            @Html.ActionLink("Читать", "Posts", "Post", new { id=item.Id }, new {@class="btn btn-default"})
        </div>
    </div>
 
    }


@if(c==0)
{
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            <p>  У пользователя нет статей </p>
        </div>
        </div>
}

@if(User.IsInRole("Admin"))
{
    @Html.ActionLink("К пользователям", "Users", "Admin")
}
else if (User.IsInRole("Moder"))
{
     @Html.ActionLink("К пользователям", "PostComment", "Admin")
}

@System.Web.Optimization.Scripts.Render("~/bundles/my")