@model EPAM.MyBlog.UI.Web.Models.UserAboutModel

@{
    ViewBag.Title = "EditSex";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Пол</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.Sex)
            @Html.ValidationMessageFor(model => model.Sex)
        </div>

        <p>
            <input type="submit" value="Сохранить" class="btn btn-default"/>
            @Html.ActionLink("Вернуться", "AboutMe", null, new { @class="btn btn-default"})
        </p>
    </fieldset>
}



