@model EPAM.MyBlog.UI.Web.Models.UserAboutModel

@{
    ViewBag.Title = "EditName";
}


@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "content" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Имя</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Сохранить" class="btn btn-default"/>
            @Html.ActionLink("Вернуться", "AboutMe", null, new { @class="btn btn-default"})
        </p>
    </fieldset>
}


@System.Web.Optimization.Scripts.Render("~/bundles/my")