@if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <ul class="nav navbar-nav">
                  <li class="dropdown">
                        <a href="@Url.Action("Index", "Post")" class="dropdown-toggle nojs" data-toggle="dropdown" role="button" aria-expanded="false">Посты <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("MyPosts", "Post")" >Мои посты</a></li>
                            <li><a href="@Url.Action("Favorite", "Post")" >Избранное</a></li>
                            <li><a href="@Url.Action("News", "Post")" >Лента</a></li>
                        </ul>
                  </li>
                  <li class="dropdown">
                        <a href="@Url.Action("Index", "Account")" class="dropdown-toggle nojs" data-toggle="dropdown" role="button" aria-expanded="false">Аккаунт <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Ajax.ActionLink("О себе","AboutMe", "Account", new { }, new AjaxOptions{ UpdateTargetId = "content" })</li>                     
                            <li>@Ajax.ActionLink("Удалить аккаунт","DeleteAc", "Account", new { }, new AjaxOptions{ UpdateTargetId = "content" })</li>
                        </ul>
                  </li>
                  <li>@Ajax.ActionLink("Помощь","Help", "Home", new { }, new AjaxOptions{ UpdateTargetId = "content" })</li>
                  <li>@Ajax.ActionLink("Поиск","Index", "Search", new { }, new AjaxOptions{ UpdateTargetId = "content" })</li> 
            @if (User.IsInRole("Moder"))
                {
                   @Html.Partial("~/Views/Admin/ModerMenu.cshtml")
                }
             @if (User.IsInRole("Admin"))
             {      
                   @Html.Partial("~/Views/Admin/AdminMenu.cshtml")
             }
              </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>@Ajax.ActionLink("Поиск","Index", "Search", new { }, new AjaxOptions{ UpdateTargetId = "content" })</li>
    </ul> 
}

              <div class="col-sm1 col-md-1 col-lg-1 pull-right">
                   <div class="btn-group" id="log">
                       @Html.Action("State", "Account")
                    </div>
              </div>
@System.Web.Optimization.Scripts.Render("~/bundles/my")