@model EPAM.MyBlog.UI.Web.Models.CommentModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<legend>Комментарии</legend>

@foreach (var item in (List<EPAM.MyBlog.UI.Web.Models.CommentModel>)ViewData["List"])
    {
    
        <div>@Html.ActionLink(item.Author, "UserInfo","Account",new {name = item.Author}, null) в @item.Time</div>
        <div>Сказал: @item.Text </div>
    }

@using (Html.BeginForm("AddComment", "Comment", FormMethod.Post)) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
   
    <fieldset>
        
        @Html.HiddenFor(model => model.Post_ID, new { @Value = ViewData["ID"] })
         
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div> 
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

