@model EPAM.MyBlog.UI.Web.Models.CommentModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<legend>Комментарии</legend>

@foreach (var item in (List<EPAM.MyBlog.UI.Web.Models.CommentModel>)ViewData["List"])
    {
        <div class="col-lg-10 col-md-10 col-sx-10 comment">
        <div class="comment_author">@Html.ActionLink(item.Author, "UserInfo","Account",new {name = item.Author}, null)</div>
        <div class="comment_text">Сказал: @Html.Raw(item.Text) </div>
        <div class="time">@item.Time</div>
        </div>
    }

<div class="col-md-10">

@if(User.Identity.IsAuthenticated){

    
    using (Ajax.BeginForm("AddComment", "Comment", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "comment" }))
    { 
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
   


        @Html.HiddenFor(model => model.Post_ID, new { @Value = ViewData["ID"] })


        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field-comment textarea">
            <p> Доступно html форматирование </p>
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <p>
            <input type="submit" class="btn btn-default" value="Добавить" />
        </p>

}

}
else
{   <div class="col-md-12">
    <p> Возможность комментирования доступна только для зарегистрированных пользователей</p>
    </div>
}
    </div>
@System.Web.Optimization.Scripts.Render("~/bundles/my")
@System.Web.Optimization.Scripts.Render("~/bundles/my2")