@model EPAM.MyBlog.UI.Web.Models.CommentModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<legend>Комментарии</legend>

@foreach (var item in (List<EPAM.MyBlog.UI.Web.Models.CommentModel>)ViewData["List"])
    {
    
        <div>@item.Author в @item.Time</div>
        <div>Сказал: @item.Text </div>
    }

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
    <fieldset>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

