@model IEnumerable<EPAM.MyBlog.UI.Web.Models.UserAdminModel>

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Посты", "UserPosts", new { name=item.Name }) |
            @Html.ActionLink("Комменты", "UserComments", new { name=item.Name }) |
        </td>      
    </tr>
}
</tbody>
</table>
