@model EPAM.MyBlog.UI.Web.Models.PostModel

@{
    ViewBag.Title = "Posts";
}

@if(Model != null){
<legend>@Html.DisplayFor(model => model.Title)</legend>

    <div>
        @Html.DisplayFor(model => model.Text)
    </div>
<div>
Автор: @Html.DisplayFor(model => model.Author)
</div>
<div>
Дата: @Html.DisplayFor(model => model.Time)
</div>

<p>
</p>

    @Html.ActionLink("К списку", "UserPosts", new { name = Model.Author })
}
else
{
    <div>Данная запись была удалена</div>
}