@model IEnumerable<EPAM.MyBlog.UI.Web.Models.CommentModel>
@{ int c = 0;}
@{
    ViewBag.Title = "UserComments";
}


<div class="col-sm-12 title">
    
    <div class="col-md-8 col-sm-8 col-lg-8 col-sx-8"><p>Комментарии @ViewData["name"]</p></div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-sx-2 pull-righ">
                @if(User.IsInRole("Admin"))
    {
        <p>@Html.ActionLink("К пользователям", "Users", "Admin", new { @class="btn btn-default"})</p>
    }
    else if (User.IsInRole("Moder"))
    {
        <p>@Html.ActionLink("К пользователям", "PostComment", "Admin", new { @class="btn btn-default"})</p>
    }
    </div>
</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Комментарий</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {   c++;
            <tr>
                <th scope="row">@c</th>
                <td>@Html.DisplayFor(modelItem => item.Text)</td>
                <td>@Html.DisplayFor(modelItem => item.Time)</td>
                <td>@Html.ActionLink("К посту", "Posts", "Post", new { id=item.Post_ID }, null) |
                    @Html.ActionLink("Delete", "DeleteComment", new { id=item.ID, name = @ViewData["name"] })</td>
            </tr>
         }

    </tbody>

</table>



@if(c==0)
{
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            <p>  У пользователя нет комментариев </p>
        </div>
        </div>
}


@System.Web.Optimization.Scripts.Render("~/bundles/my")