@model IEnumerable<EPAM.MyBlog.UI.Web.Models.UserAdminModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Users", "Admin", FormMethod.Post))
{
//<form action="@Url.Action("ChangeUser")">
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "UserInfo","Account",new {name = item.Name}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Посты", "UserPosts", new { name=item.Name }) |
            @Html.ActionLink("Комменты", "UserComments", new { name=item.Name }) |
        </td>
        <td>
            <input type="checkbox" name="@item.Name"/>
        </td>
        
    </tr>
}
</tbody>
</table>
    <button type="submit" name="action" value="addUser" id="addUser"> Сделать Userом </button>
    <button type="submit" name="action" value="addModer" id="addModer">Сделать Moderом </button>
    <button type="submit" name="action" value="addAdmin" id="addAdmin">Сделать Adminом </button>
    <button type="submit" name="action" value="Delete" id="Delete">Удалить </button>
}