@model IEnumerable<EPAM.MyBlog.UI.Web.Models.CommentModel>
@{ int c = 0;}
@{
    ViewBag.Title = "UserComments";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-sx-12 title">Комментарии @ViewData["name"]</div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Комментарий</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {   c++;
            <tr>
                <th scope="row">@c</th>
                <td>@Html.DisplayFor(modelItem => item.Text)</td>
                <td>@Html.DisplayFor(modelItem => item.Time)</td>
                <td>@Html.ActionLink("К посту", "Posts", new { id=item.Post_ID }) |
                    @Html.ActionLink("Delete", "DeleteComment", new { id=item.ID, name = @ViewData["name"] })</td>
            </tr>
         }

    </tbody>

</table>



@if(c==0)
{
    <div class="row list">
        <div class="col-sm-8 col-md-8 col-lg-8 col-sx-8">
            <p>  У пользователя нет комментариев </p>
        </div>
        </div>
}

@System.Web.Optimization.Scripts.Render("~/bundles/my")