@model IEnumerable<EPAM.MyBlog.UI.Web.Models.UserAdminModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Посты", "Posts", new { name=item.Name }) |
            @Html.ActionLink("Комменты", "Comments", new { name=item.Name }) |
        </td>
        <td>
            <input type="checkbox" name="@item.Name"/>
        </td>
        <input type="submit" class="btn btn-success" value="Отправить" id="addButton"/>
    </tr>
}

</table>
