@model IEnumerable<EPAM.MyBlog.UI.Web.Models.UserAdminModel>
@{ int c = 0;}

<div class="col-sm-12 title">
    
    <div class="col-sm-4 col-md-4 col-lg-4 col-sx-4 col-sm-offset-4 col-md-offset-4 col-sx-offset-4 col-lg-offset-4 bold">
        <p>Пользователи</p>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-sx-2 pull-right">
        @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-default"})
    </div>
</div>


@using (Html.BeginForm("Users", "Admin", FormMethod.Post))
{

<table class="table table-hover">
    <thead>
    <tr>
        <th>№</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    c++;
    <tr>
        <th scope="row">@c</th>
        <td>
            @Html.ActionLink(item.Name, "UserInfo", "Account" ,new {name = item.Name}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Посты", "UserPosts", new { name=item.Name }) |
            @Html.ActionLink("Комменты", "UserComments", new { name=item.Name }) 
        </td>
        @if(User.Identity.Name != item.Name){
        <td>
            <input type="checkbox" name="@item.Name"/>
        </td>
        }
    </tr>
}
</tbody>
</table>
    <button type="submit" name="action" value="addUser" id="addUser"> Сделать Userом </button>
    <button type="submit" name="action" value="addModer" id="addModer">Сделать Moderом </button>
    <button type="submit" name="action" value="addAdmin" id="addAdmin">Сделать Adminом </button>
    <button type="submit" name="action" value="Delete" id="Delete">Удалить </button>
}